<footer class="text-center text-lg-start fixed-bottom">
    <section class="d-flex justify-content-center justify-content-lg-start">
    </section>
    <section class="">
        <div class="container text-center text-md-start mt-5">
            <div class="row mt-3">
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">
                        <img src="../../assets/image/logowhite.png" alt="">
                    </h6>
                    <p class="peragraph">
                        Here you can use rows and columns to organize your footer content. Lorem ipsum
                        dolor sit amet, consectetur adipisicing elit.
                    </p>
                    <div class="d-flex align-items-center">
                        <div class="footer_icon bg-transparent bg-md-info m-2"><i
                                class="fa-brands fa-facebook fs-3 text-primary"></i>
                        </div>
                        <div class="footer_icon bg-transparent bg-md-secondary m-2"><i
                                class="fa-brands fa-twitter fs-3 text-primary"></i>
                        </div>
                        <div class="footer_icon bg-transparent bg-md-danger m-2"><i
                                class="fa-brands fa-google-plus-g fs-3 text-primary"></i>
                        </div>
                        <div class="footer_icon bg-transparent bg-md-success m-2"><i
                                class="fa-brands fa-vine fs-3 text-primary"></i>
                        </div>
                    </div>
                </div>

                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <h6 class="text-uppercase fw-medium mb-4 peragraph">
                        Useful Links
                    </h6>
                    <p class="peragraph">
                        <a href="#!" class="peragraph">Home</a>
                    </p>
                    <p class="peragraph">
                        <a href="#!" class="peragraph">About</a>
                    </p>
                    <p class="peragraph">
                        <a href="#!" class="peragraph">Service</a>
                    </p>
                    <p class="peragraph">
                        <a href="#!" class="peragraph">Blog</a>
                    </p>
                    <p class="peragraph">
                        <a href="#!" class="peragraph">Contact</a>
                    </p>
                </div>

                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                    <h6 class="text-uppercase fw-medium mb-4 peragraph">
                        Product Help
                    </h6>
                    <p class="peragraph">
                        <a href="#!" class="peragraph">FAQ</a>
                    </p>
                    <p class="peragraph">
                        <a href="#!" class="peragraph">Privacy Policy</a>
                    </p>
                    <p class="peragraph">
                        <a href="#!" class="peragraph">Support</a>
                    </p>
                    <p class="peragraph">
                        <a href="#!" class="peragraph">Terms & Conditions</a>
                    </p>
                    <p class="peragraph">
                        <a href="#!" class="peragraph">Contact</a>
                    </p>

                </div>

                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <h6 class="text-uppercase fw-medium mb-4 peragraph">Download</h6>
                    <p class="peragraph"><i class="fas fa-home me-3"></i> New York, NY 10012, US</p>
                    <p class="peragraph">
                        <i class="fas fa-envelope me-3"></i>
                        info@example.com
                    </p>
                    <p class="peragraph"><i class="fas fa-phone me-3"></i> + 01 234 567 88</p>
                    <p class="peragraph"><i class="fas fa-print me-3"></i> + 01 234 567 89</p>
                </div>
            </div>
        </div>
    </section>

    <div class="text-center p-2 p-md-4">
        <p class="peragraph">© 2021 Copyright: </p>
    </div>
</footer>